<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>Hola mundo</title>
	</head>
	<body>
		<h1>Hola mundo</h1>
		<ul>
			<li>Bolicha!</li>
			<li>Shiuy!</li>
		</ul>
		<div class="container">
			<div class="row form-inline">
				<div class="form-group">
					<label for="titulo">Titulo</label>
					<input type="text" class="form-control" id="titulo" placeholder="Titulo">
				</div>
				<div class="form-group">
					<label for="HoraInicio">Hora Inicial</label>
					<input type="time" class="form-control" id="HoraInicio" placeholder="Hora Inicial">
				</div>
				<div class="form-group">
					<label for="HoraFinal">Hora Final</label>
					<input type="time" class="form-control" id="HoraFinal" placeholder="Hora Final">
				</div>
				<button type="button" id="AgregarEvento" class="btn btn-primary">Agregar Evento</button>
			</div>
		</div>
		<br>
		<div class="row">
			<div id="calendar" class="container"></div>
		</div>
	</body>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel='stylesheet' href='{{ STATIC_URL }}css/fullcalendar.css' />
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
	<script src='{{ STATIC_URL }}js/fullcalendar.js'></script>
	<script src="{{ STATIC_URL }}js/main.js"></script>
	
</html>