<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hola mundo</title>
</head>
<body>
		<h1>Hola mundo</h1>
	<ul>
		<li>Bolicha!</li>
		<li>Shiuy!</li>
	</ul>
	<div id="calendar" class="container"></div>
</body>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/fullcalendar.css' />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type='text/javascript' src='{{ STATIC_URL }}js/fullcalendar.js'></script>
<script src="{{ STATIC_URL }}js/main.js"></script>
</html>